html.tlvNightModeOn, html.tlvNightModeOn > body, html.tlvNightModeOn > body > *, html.tlvNightModeOn *:not([aria-hidden=true]).withBgColor:not(.withBgImage) {
    background-color: rgba(40,44,52,1) !important;
    background-image: none !important;
}

html.tlvNightModeOn * {
    color: #ABB2BF !important;
    border-color: #464A54 !important;
    box-shadow: none !important;
}

html.tlvNightModeOn ::selection {
    background: rgba(142,142,142,0.3) !important;
}

html.tlvNightModeOn a:link {
    color: #769EC1 !important;
}

html.tlvNightModeOn a:visited {
    color: #C18176 !important;
}

html.tlvNightModeOn img, html.tlvNightModeOn .withBgImage {
    background-color: rgba(0,0,0,0) !important;
    /*-webkit-filter: brightness(100%) contrast(100%) !important;*/
}

html.tlvNightModeOn .fullscreenBgImage {
    background-image: none;
}
