body {
    min-height: 200px;
}

#divWhitelistOptions {
    margin: 5px;
}

#divWhitelistOptions input, #divWhitelistOptions label {
    vertical-align: middle;
    font-size: 1.2em;
}

#divWhitelist {
    margin-top: 5px;
}

#divWhitelistTable::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#divWhitelistTable::-webkit-scrollbar {
	width: 12px;
	background-color: #F5F5F5;
}

#divWhitelistTable::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

#divWhitelistTable {
    max-height: 200px;
    overflow-y: auto;
    padding: 5px;
    background-color: rgb(25, 30, 38);
    border-radius: 5px;
    border: 1px solid #ABB2BF;
}

#tblWhitelist {
    width: 100%;
}

#divWhitelistButton {
    margin-top: 10px;
}

.actionImageBtn {
    width: 20px;
    height: 20px;
}

.dialogConfirm {
    position: absolute;
    background-color: rgba(40,40,40,0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display:none;
}

.dialogContent {
    position: absolute;
    width: 120px;
    height: 90px;
    margin: auto;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(25, 30, 38);
    border: 1px solid #ABB2BF;
    border-radius: 5px;
    text-align: center;
    font-size: 1.2em;
}

.dialogContent button {
    width: 50px;
}